
.col-sm-4{
    margin-bottom: 8px;
}

.btn-outline-success {
    padding: 15px;
    font-weight:bold;
}

.menu_category {
    font-family: 'Italiana', serif;
    font-weight:bold;
}

.add-min-quan {
    margin-left:10px;
    margin-right:10px;

}

.add-min-quan:active {
    color:#007BFF;
}