
.col-sm-4{
    margin-bottom: 8px;
}

.btn-outline-success {
    padding: 15px;
    font-weight:bold;
}

.menu_category {
    font-family: 'Italiana', serif;
    font-weight:bold;
}

.checkout-cart {
    border: solid;
    border-style:thin;
    border-color: #D13742;
    border-radius:8px;
    background-color: #F0BFC2;
}

.checkout-cart h1 {
    margin-top: 20px;
}

#btn-place-order {
    margin-bottom: 10px;
}
.new-cart-item {
    font-size:12px;
    font-size: italic;
    color:black;
    padding:4px;
    margin-bottom:2px;


}