{% extends "base.html" %}
{% load static %}

{% block title %}Orders{% endblock %}

{% block additional_css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'orders/styles.css' %}">

{% endblock additional_css %}


{% block body %}

<div class="container">
  <h1 class="ita_header display-3 text-center">Menu</h1>

{% for category, foods in data.items %}
<div class="row">
  <div class="col-sm-12">
  <h3 class="ita_header">{{category}}</h1>

  <div class="row">
    {% for opt in foods %}
      {% for k, qset in opt.items %}
          <div class="col-sm-4"><div class="inner">{{ k }}</div></div>

<!--          <ul>
            {% for pr in qset.all  %}
            <li id="{{ pr.id }}"> {{ pr.get_item_size_display }}: {{ pr.item_price }}</li>

            {% endfor %}
          </ul>-->


        {% endfor %}
     {% endfor %}

  </div>

</div>
</div>
 {% endfor %}

</div> <!-- container -->

{% endblock %}
