{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Italiana" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        {% block additional_css %}
        {% endblock additional_css %}
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-3 text-center">Pinocchio's Pizza & Subs</h1>
                <ul class="nav justify-content-center">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                        {% endif %}
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                  {% endif %}
                </ul>
        </div>

            {% block body %}
            {% endblock %}
    </body>
</html>