{% extends "base.html" %}

{% block title %}
    User Login
{% endblock %}

{% block body %}

<div class="container text-center">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-sm-4">
        {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>

        {% endif %}

      <h2 class="ita_header display-3">LOG IN</h2>
      <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
        <div class="form-group">
          <label for="username"></label>
          <input type="username" class="form-control" name="username" placeholder="Username">
          <label for="password"></label>
          <input type="password" class="form-control" name="password" placeholder="Password">
          <br>
          <button type="submit" class="btn btn-outline-secondary btn-lg">Log In</button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>


{% endblock %}